@model IEnumerable<CustomerModel>

<h1>Customer List</h1>
<a href="/Product/Edit/0" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i> New Customer</a>

<table class="table table-stripped">
    <thead>
        <tr>
            <th></th>
            <th>Identification Number</th>
            <th>Fullname</th>
            <th></th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="td-button">
                    <a href="/Customer/Edit/@item.Id" class="btn btn-success" data-bs-toggle="tooltip"
                        data-bs-placement="top" data-bs-title="Edit Product"><i class="bi bi-pencil-square">Edit</i></a>
                </td>
                <td>@item.IdentificationNumber</td>
                <td>@item.Fullname</td>


                <td>
                    <button type="button" class="btn btn-danger" onclick="del('@item.Name' , '@item.Id')"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete Customer"><i
                            class="bi bi-trash-fill">Delete</i></button>
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        function del(name, id) {
            const result = confirm(name + ", will be deleted?");
            if (result) {
                location.href = "/Customer/Delete/" + id;
            }
        }
    </script>
}